:root {
    /* Denna ska vara background-image!!! */
    --background_color: linear-gradient(180deg, #2D2D2D 0%, #101010 100%);

    --top_menu_background: #111111;
    --top_menu_height: 50px;
    /* Ändra height */

    --menu_opened_background: #EDEDED;
    --menu_opened_font_color: #242424;
    --menu_opened_font_size: 32px;

    --button_background: #454D56;
    --button_drop_shadow: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
    --button_save_color: #6EA270;

    --border_radius_small: 3px;
    --border_radius_big: 8px;

    --font_color: #EDEDED;
    --description_font_color: #A7A7A7;

    --body_margin: 20px;

    --box_input_background: rgba(102, 119, 136, 0.50);
    --box_input_innershadow: -2px -2px 0px 0px #656667 inset;

    --line_color: #CDCEE5;

    --add_profile_picture_background: #4B4B4B;

    --backdrop_poster_shadow: 20px 0px 40px 0px rgba(0, 0, 0, 0.25) inset, -20px 0px 40px 0px rgba(36, 36, 36, 0.25) inset, 0px -37px 40px 0px #2C2B2B inset;
}

/* BRÖDTEXT */
@font-face {
    font-family: "Alte Haas Grotesk";
    src: url("media/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf");
}

/* SERIF */
@font-face {
    font-family: "Crimson";
    src: url("media/fonts/crimson/CrimsonText-Regular.ttf");
}

/* LOGO FONT */
@font-face {
    font-family: "Normande";
    src: url("media/fonts/normande/Normande\ Regular.otf");
}


body {
    margin: 0;
    background-image: var(--background_color);
    font-family: "Alte Haas Grotesk";
    color: var(--font_color);
}