#userInfo,
#followContainer,
#watchedContainer,
#likedContainer,
#listsContainer {
    margin: var(--body_margin);
}

#profileAndEditContainer {
    display: flex;
    justify-content: space-between;
}

#backdropPoster {
    height: 57vw;
    width: 100%;
}

#shadowOverlay {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 57vw;
    box-shadow: var(--backdrop_poster_shadow);
}

#profilePicture {
    margin-left: 20px;
    width: 130px;
    height: 130px;
}

#displayName {
    margin: 0;
    font-size: 24px;
}

#username {
    margin-top: 4px;
    font-size: 18px;
}

#editButton {
    margin-right: 20px;
    margin-top: 50px;

    font-family: "Alte Haas Grotesk";
    color: var(--font_color);
    background-color: var(--button_background);
    filter: var(--button_drop_shadow);
    border-radius: var(--border_radius_small);
    border: 1px solid black;
    padding: 7px 26px;
    font-size: 22px;
}

.movie {
    width: 150%;
    border-radius: var(--border_radius_small);
    margin: 7px 0;

    box-shadow: -12px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -12px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 0px 21px 0px rgba(0, 0, 0, 0.75);
}

#followerLine {
    margin: 0 20px;
}

#watchedPosters,
#likedPosters {
    display: grid;
    grid-template-columns: repeat(5, 17vw);
}

#watchedTitleContainer,
#likedTitleContainer {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#watchedTitle,
#likedTitle {
    font-size: 20px;
}

#showAllWatched,
#showAllLiked {
    font-size: 14px;
    color: #B4B5B9;

    cursor: pointer;
}

#editButton.save {
    background-color: var(--button_save_color);
}

.listPoster {
    width: 100%;
    border-radius: var(--border_radius_small);
}