#backdropPoster {
    width: 100%;
    height: 57vw;
}

#shadowOverlay {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 57vw;
    box-shadow: var(--backdrop_poster_shadow);
}

#moviePoster {
    width: 42vw;
    border-radius: var(--border_radius_big);
    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-self: center;
}

/* GRID MOVIE INFO */
#movieInformationContainer {
    margin: 18px;
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    grid-template-rows: 10vh 7vh 35vh;
    gap: 10px;
    margin-top: 15px;
}

#movieInformationContainer>h1,
#movieInformationContainer>p {
    margin: 0;
    grid-column: 1;
    z-index: 10;
}

#movieTitle {
    align-self: end;
}

#releaseYear {
    margin: 0;
    font-style: italic;
    align-self: end;
    grid-column: 2;
}

#directedBy {
    grid-column: 1;
    grid-row: 2;
    align-self: center;

    font-size: 16px;
}

#movieDescription {
    grid-column: 1;
    grid-row: 3;
}

/* GRID WATCH & LIKE */
#likedAndWatchedContainer {
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

/* GRID SIMILAR MOVIES */

.movie {
    width: 200px;
    border-radius: 5px;
    margin: 2px;
}