#backdropPoster {
    width: 100%;
    height: 57vw;
}

#shadowOverlay {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 57vw;
    box-shadow: var(--backdrop_poster_shadow);
}

#moviePoster {
    width: 42vw;
    border-radius: var(--border_radius_big);
    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-self: center;
}

/* GRID MOVIE INFO */
#movieInformationContainer {
    margin: 18px;
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    grid-template-rows: 10vh 7vh 25vh 11vh 8vh;
    gap: 10px;
    margin-top: 15px;
}

#similarMoviesContainer,
#similarMoviesText,
hr {
    margin: 18px;
}

#movieInformationContainer>h1,
#movieInformationContainer>p {
    margin: 0;
    grid-column: 1;
    z-index: 10;
}

#movieTitle {
    align-self: end;
}

#releaseYear {
    margin: 0;
    font-style: italic;
    align-self: end;
    grid-column: 2;
}

#directedBy {
    grid-column: 1;
    grid-row: 2;
    align-self: center;

    font-size: 16px;
}

#movieDescription {
    grid-column: 1;
    grid-row: 3;

    font-family: "Crimson";
    color: var(--description_font_color);
}

#watchedButton {
    grid-row: 5;
    grid-column: 3;

    font-family: "Alte Haas Grotesk";
    color: var(--font_color);
    background-color: var(--button_background);
    filter: var(--button_drop_shadow);
    border-radius: var(--border_radius_small);
    border: 1px solid black;
    padding: 7px 16px;
    font-size: 14px;

    height: 38px;
}

#likedContainer,
#watchedContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 37px;
}

#likedAmount,
#watchedAmount {
    font-size: 24px;
    margin-left: 10px;
}

#likedAndWatchedContainer img {
    width: 36px;
    height: 36px;
}

/* GRID WATCH & LIKE */
#likedAndWatchedContainer {
    grid-row: 4;
    grid-column: 3;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* GRID SIMILAR MOVIES */

.movie {
    width: 153px;
    border-radius: 5px;
    margin: 2px;
}