body {
    height: 100vh;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    position: relative;
    bottom: 200px;
}

#logoFont {
    font-family: "Normande";
    font-size: 50px;

    position: absolute;
    top: 42px;
}

#topLine {
    margin: ;
}

input {
    border-radius: 3px;
    background: rgba(102, 119, 136, 0.50);
    box-shadow: -2px -2px 0px 0px #656667 inset;

    width: 331px;
    height: 53px;
    flex-shrink: 0; 

    border: 0;

    font-family: "Alte Haas Grotesk";
    font-style: italic;
    font-size: 20px;
    font-weight: 100; 
    line-height: normal;
    color: rgba(237, 237, 237, 0.70);

    /* position: relative; */
    top: 300px;
}

#username {
    margin-bottom: 50px;
}

button {
    /* position: relative; */
}